# Python cache
__pycache__/
*.pyc

# Environment files
.env
*.env

# Data directories (all locations)
**/data/
**/db/

# Jupyter
.ipynb_checkpoints/

.venv/


*.pyc

**/output/

**/langchain/
**/chat/

**/images/