# requirements.txt
streamlit
langchain 
chromadb
sentence-transformers
PyPDF2
openai
tiktoken
python-dotenv
langchain-ollama
langchain-community
pypdf

langchain-huggingface
# optional but recommended for speed
faiss-cpu